@import "../../../../Styles/style.scss";

.food-card {
  position: relative;
  border: 1px solid $gray-5;
  padding: 1rem;
  width: 280px;
  max-width: 280px;
  &-img {
    height: 232px;
    width: 245px;
    background-color: #e8c0c0;
    &-dis {
      height: 232px;
      width: 245px;
    }
    &-child {
      display: none;
    }
    &:hover {
      .food-card-img-child {
        z-index: 999999999999999999999999999;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);
        // transition: height .4s ease-in-out;
        transition: height 0.4s ease-in-out, transform 0.4s ease-in-out;
      }
    }
  }
  &-info {
    margin-top: 1rem;
    &-name {
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &-col {
      margin-top: 0.25rem;
      &-rating {
        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  &-isbuy {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: -1px;
    background-color: $geekblue-5;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: white;
    font-weight: bold;
    // border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 100%;
    padding-top: 0.5rem;
    padding-left: 1.125rem;
  }
}
.food-card-active {
  border: 1px solid $geekblue-5;
}

@media only screen and (min-width: 1528px) {
  .food-card {
    width: calc(100% - 1.5rem);
  }
}
