.home-footer {
  min-width: 850px;
  border-top: 1px solid $gray-5;
  height: 120px;
  background-color: white;
  // border-top-right-radius: 0.125rem;
  // border-top-left-radius: 0.125rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: $pc-30 $pc-30 $pc-30;
  // place-items: center;
  &-copyright {
    font-weight: bold;
  }
}
