.food-table {
  position: relative;
  margin-top: 1.5rem;
  &-title {
    font-weight: bold;
    font-size: 24px;
  }
  &-row {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: $pc-20 $pc-20 $pc-20 $pc-20;
    place-items: center;
    // grid-template-rows: 100px 200px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
  }
  &-wrap {
    flex-wrap: wrap;
    display: flex;
    // white-space: pre-wrap;
    // overflow-wrap: break-word;
  }
  &-show-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-ender {
    border-top: 1px solid $gray-4;
    margin-top: 1.5rem;
  }
}
